<div class="wrap">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to "index" class="navbar-brand"}}
        Posao.ba
        {{/link-to}}
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li {{!--class="active"--}}><a href="#">Oglasi<span class="sr-only">(current)</span></a></li>
          {{#if (eq session.data.authenticated.role "ROLE_ADMIN")}}
          <li><a href="#">Kreiraj template</a></li>
          {{/if}}
          {{#if (eq session.data.authenticated.role "ROLE_NEZAPOSLENI")}}
          {{/if}}
          {{#if (eq session.data.authenticated.role "ROLE_POSLODAVAC")}}
          <li>
            {{#link-to "personal-adverts"}}
            Moji oglasi
            {{/link-to}}
          </li>
          <li>
            {{#link-to "dodaj-oglas"}}
            Kreiranje oglasa
            {{/link-to}}
          </li>
          {{/if}}


          {{!--<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>--}}

        </ul>
        {{#if session.isAuthenticated}}
        <div class="navbar-form navbar-right">
          <span class="dobrodosli">Dobro došli, 
            {{#link-to "profile" class="registracija-link"}}
            {{session.data.authenticated.username}}
            {{/link-to}}
            &ensp;
          </span>
          <button class="btn btn-default login-button" {{action 'logout'}}>Odjava</button>
        </div>
        {{else}} 
        <form class="navbar-form navbar-right login-form" {{action 'loginNormal' on='submit'}}>
          {{#link-to "registracija" class="registracija-link"}}Nemaš profil? Registruj se!{{/link-to}}
          <div class="form-group">
            {{input type="text" class="form-control" placeholder="Korisničko ime" value=identification}}
          </div>
          <div class="form-group">
            {{input type="password" class="form-control" placeholder="Lozinka" value=password}}
          </div>
          <button type="submit" class="btn btn-default login-button">Prijava</button>
        </form>
        {{/if}}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {{outlet}}
</div>