<div class="registrationPage">

  <!-- Background Image -->
  <div class="img img-responsive pozadinaDodavanjeOglasa cover-screen"></div>
  
  <div class="container">
    <div class="row">
      <!-- Left side -->
      <form class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-1">
        <div class="col-xs-12 distinct-page-form">
          <div class="text-center">
            <h1>Kreiranje oglasa</h1>
            <hr class="h-divider" />
          </div>
          <div>
            <div class="form-group pomjereniTextBox">
                <label for="category">Kategoriju oglasa:</label>
                <select class="form-control" name="kategorija" onchange={{action "selectKategorija" value="target.value"}}>
                  <option value="-1" >-</option>
                  {{#each model.kategorije as |kategorija|}}      
                    <option value={{kategorija.id}}>{{kategorija.naziv}}</option>
                  {{/each}}
                </select>
            </div>

            <div class="form-group pomjereniTextBox">
                <label for="category">Template oglasa:</label>
                <select class="form-control" name="template" onchange={{action "selectTemplate" value="target.value"}}>
                  <option value="-1" >-</option>
                  {{#each model.templatei as |template|}}      
                    <option value={{template.id}}>{{template.naziv}}</option>
                  {{/each}}
                </select>
            </div>

              <div class="form-group pomjereniTextBox">
              <label for="category">Lokacija:</label>
              <select class="form-control" name="lokacija" onchange={{action "selectLokacija" value="target.value"}}>
                  <option value="-1" >-</option>
                  {{#each model.lokacije as |lokacija|}}      
                    <option value={{lokacija.id}}>{{lokacija.naziv}}</option>
                  {{/each}}
              </select>
            </div>

            <div class="form-group pomjereniTextBox">
              <label for="inputNaziv1">Naziv oglasa:</label><br>
              <span class="greskaUnosa">Morate unijeti naziv!</span>
              {{input type="text" class="form-control" id="inputNaziv1" placeholder="Naziv" value=naziv}}
            </div>

            <div class="form-group firma">
              <label for="inputOpis">Opis:</label><br>
              <span class="greskaUnosa">Morate unijeti opis!</span>
              {{textarea class="form-control" id="inputOpis" value=opis}}
            </div>

            <div class="form-group datum">
              <label class="marginaWTF" for="inputDateTime">Datum isteka:</label>
                  <div class='input-group datum date' id='inputDateTime'>
                      {{input type='date' class="form-control datum" value=datum}}
                      
                  </div>
              </div>

              {{#each polja as |polje index|}}
              <div class="form-group pomjereniTextBox">
              <label for={{polje.staje}}>{{polje.staje}}:</label>
              {{input type="text" class="form-control" placeholder=polje.staje value=polje.vrijednost}}
              </div>
              {{/each}}

            <div class="form-group text-center">
                <button type="submit" class="btn btn-success" {{action 'register'}}>Dodaj</button>
            </div>
          </div>
        </div>
      </form>

      <!-- Right side -->
      <form class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-1">
        <!-- Obnova oglasa -->
        <div class="distinct-page-form col-xs-12">
          <div class="text-center">
            <h1>Obnavljanje oglasa</h1>
            <hr class="h-divider" />
          </div>
          <div class="form-group">
              <label for="inputDateTime">Datum:</label>
              <div class='input-group date' id='inputDateTime'>
                  {{input type='date' class="form-control" value=datum}}
                  <span class="input-group-addon">
                      <i class="glyphicon glyphicon-calendar"></i>
                  </span>
              </div>
          </div>
          <div class="form-group text-center">
            <button type="button" class="btn btn-success" {{action 'submit'}}>Obnovi</button>
          </div>
        </div>
        <!-- Brisanje oglasa -->
        <div class="distinct-page-form col-xs-12">
          <div class="text-center">
            <h1>Brisanje oglasa</h1>
            <hr class="h-divider" />
          </div>
          <div class="form-group text-center">
            <button type="button" class="btn btn-success" {{action 'submit'}}>Obriši</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

