<div class="templatePage">
  <!-- Background Image -->
  <div class="img img-responsive pozadinaDodavanjeOglasa cover-screen"></div>
  <div class="container">
    <div class="row">

    <form class="distinct-page-form col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="col-xs-12 text-center">
          <h1>Dodavanje kategorije</h1>
          <hr class="h-divider" />
        </div>

        <div class="form-group text-center">
            <label for="inputNaziv1">Naziv:</label><br>

            {{#if noviNazivError}}
              <span class="greskaUnosa">Morate unijeti naziv!</span>
            {{/if}}

            {{input type="text" class="form-control" id="inputnaziv_template" placeholder="Naziv" value=noviNaziv}}

            {{#if noviServerError}}
              <span class="greskaUnosa">Došlo je do greške. </span>
              <span class="greskaUnosa">{{noviServerErrorText}}</span>
            {{/if}}
            {{#if noviSuccess}}
              <span class="greskaUnosa">Uspješno ste dodali kategoriju. </span>
            {{/if}}
         </div>

         <div class="form-group text-center">
            <button type="button" class="btn btn-success" {{action 'add'}}>Dodaj</button><br>
         </div>
      </form>

      <form class="distinct-page-form col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="col-xs-12 text-center">
          <h1>Izmjena ili brisanje kategorije</h1>
          <hr class="h-divider" />
        </div>
            {{#if izmjenaServerError}}
              <span class="greskaUnosa">Došlo je do greške. </span>
              <span class="greskaUnosa">{{izmjenaServerErrorText}}</span>
            {{/if}}
            {{#if izmjenaSuccess}}
              <span class="greskaUnosa">Uspješno ste promijenili kategoriju. </span>
            {{/if}}

            {{#if brisanjeServerError}}
              <span class="greskaUnosa">Došlo je do greške. </span>
              <span class="greskaUnosa">{{brisanjeServerErrorText}}</span>
            {{/if}}
            {{#if brisanjeSuccess}}
              <span class="greskaUnosa">Uspješno ste izbrisali kategoriju. </span>
            {{/if}}


        {{#each model.kategorije as |kategorija index|}}
        <div class="form-group text-center">
            <label for="inputNaziv1">Naziv:</label><br>
            {{#if noviNError}}
            {{#if (eq indexGreske index)}}
            <span class="greskaUnosa">Morate unijeti naziv!</span>
            {{/if}}{{/if}}
            {{input type="text" class="form-control" placeholder="Naziv" value=kategorija.naziv}}
         </div>

         <div class="btn-group btn-group-justified text-center" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success" {{action 'izmijeni' index}}>Izmijeni</button><br><br>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" {{action 'brisi' index}}>Izbriši</button><br><br>
            </div>
         </div>
         {{/each}}
      </form>
    </div>
  </div>
</div>