<div class="templatePage">
  <!-- Background Image -->
  <div class="img img-responsive pozadinaDodavanjeOglasa cover-screen"></div>
  <div class="container">
    <div class="row">

    <form class="distinct-page-form col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="col-xs-12 text-center">
          <h1>Kreiranje template-a</h1>
          <hr class="h-divider" />
        </div>

        <div class="form-group text-center">
            <label for="inputNaziv1">Naziv templatea:</label><br>
            {{#if noviNazivError}}
            <span class="greskaUnosa">Naziv se može sastojati samo od slova, brojeva i znakova . _ -!</span>
            {{/if}}
            {{input type="text" class="form-control" id="inputnaziv_template" placeholder="Naziv" value=model.template.naziv}}
         </div>

         <div class="form-group text-center">
            <button type="button" class="btn btn-success" {{action 'dodaj'}}>Dodaj polje</button><br>
         </div>

         <div class="form-group text-center">
      {{#each model.template.poljaTemplatea as |polje index|}}
        <div class="form-group text-center">
            <label for="inputNaziv1">Polje:</label><br>
            {{#if noviNError}}
            {{#if (eq indexGreske index)}}
            <span class="greskaUnosa">Naziv se može sastojati samo od slova, brojeva i znakova . _ -!</span>
            {{/if}}{{/if}}
            {{input type="text" class="form-control" value=polje.nazivPolja}} 
        </div>

        <button type="button" class="btn btn-success" {{action 'izbrisi' index}}>Izbriši</button><br>
      {{/each}}
         </div>
         <div class="form-group text-center">
            {{#if noviServerError}}
              <span class="greskaUnosa">Došlo je do greške prilikom dodavanja.</span>
              <span class="greskaUnosa">{{noviServerErrorText}}</span>
            {{/if}}
            {{#if noviServerSuccess}}
              <span class="greskaUnosa">Uspješno ste dodali template.</span>
            {{/if}}
            <button type="button" class="btn btn-success" {{action 'submit'}}>Submit</button>
         </div>
      </form>
    </div>
  </div>
</div>


