<div class="main-page">     
	<div class="container-fluid">
		<div class="row row-eq-height">
			<div class="col-md-8 col-md-offset-2">
				<table class="table table-hover advert-table">
					<tbody>
						{{#each model.oglasi as |oglas|}}			
						<tr class="row">				
							<td class="col-md-3">
								<h4 class="title">
									{{#link-to 'viewad' oglas.idOglasa}}
										{{oglas.naziv}}
									{{/link-to}}
								</h4>
				                <p class="desc">{{oglas.poslodavac.nazivFirme}}</p>
				                <p class="desc">Objavljen: {{oglas.datumObjave}}</p>
				                <p class="desc">Datum isteka: {{oglas.datumIsteka}}</p>
							</td>	
							<td class="col-md-8 col-md-offset-1">
								<p class="desc">{{oglas.opis}}</p>
							</td>			
						</tr>			
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>