<div class="profilePage">
<!-- Background Image -->
    <div class="img img-responsive pozadinaProfil cover-screen"></div>

    <div class="container ">
        <div class="row ">
            <!-- Left side -->
            <form class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 distinct-page-form margineFormeProfila_">
                <div class="col-xs-12 text-center">
                  <h1>Pregled korisničkog računa</h1>
                  <p>Na ovoj stranici možete izmijeniti svoje lične podatke</p>
                  <hr class="h-divider" />
                </div>

                <div class="col-xs-12">

                  <div class="form-group pomjereniTextBox">
                    <label for="inputPassword3_profil">Lozinka:</label>
                    {{input type="password" class="form-control" id="inputPassword3_profil" placeholder="Password" value=model.profil.password}}
                  </div>

                  <div class="form-group pomjereniTextBox">
                    <label for="inputEmail3_profil">Email:</label>
                    {{input type="email" class="form-control" id="inputEmail3_profil" placeholder="Email" value=model.profil.email}}
                  </div>

                  {{#if this.model.profil.poslodavac}}
                  <div class="form-group pomjereniTextBox">
                    <label for="inputTelefon1_profil">Telefon:</label>
                    {{input type="text" class="form-control" id="inputTelefon1_profil" placeholder="123456789" value=model.profil.poslodavac.telefon}}
                  </div>
                  {{/if}}

                  {{#if this.model.profil.nezaposleni}}
                  <div class="form-group pomjereniTextBox">
                    <label for="inputIme1_profil">Ime:</label>
                    {{input type="text" class="form-control" id="inputIme1_profil" placeholder="Ime" value=model.profil.nezaposleni.ime}}
                  </div>

                  <div class="form-group pomjereniTextBox">
                    <label for="inputPrezime1_profil">Prezime:</label>
                    {{input type="text" class="form-control" id="inputPrezime1_profil" placeholder="Prezime" value=model.profil.nezaposleni.prezime}}
                  </div>
                  {{/if}}

                  {{#if this.model.profil.poslodavac}}
                  <div class="form-group firma">
                    <label for="inputFirma1_profil">Firma:</label>
                    {{input type="text" class="form-control" id="inputFirma1_profil" placeholder="Firma" value=model.profil.poslodavac.nazivFirme}}
                  </div>
                  {{/if}}

                  {{#if this.model.profil.nezaposleni}}
                  <div class="form-group pomjereniTextBox">
                    <label for="inputCV_profil">CV:</label>
                    {{textarea class="form-control" id="inputCV_profil" value=model.profil.nezaposleni.cv}}
                  </div>
                  {{/if}}

                   {{!--<div class="form-group radio-group pomjereniTextBox">
                    <label for="tipKorisnika_profil">Tip korisnika:</label>
                    <div class="input-group">
                        <span class="input-group-addon no-bottom-border">
                            {{radio-button value="Nezaposleni" checked=tip name="tipKorisnika_profil"}}
                        </span>
                        <p class="form-control no-bottom-border">Nezaposleni</p>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon no-top-border">
                            {{radio-button value="Poslodavac" checked=tip name="tipKorisnika_profil"}}
                        </span>
                        <p class="form-control no-top-border">Poslodavac</p>
                    </div>
                  </div>--}}

                  <div class="form-group text-center">
                      <button type="submit" class="btn btn-success" {{action 'update'}}>Spasi izmjene</button>
                  </div>
                </div>
            </form>
            <!-- Right side -->
            <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
                <!-- Generate Report Form -->
                <form class="row distinct-page-form margineFormeProfil">
                    <div class="col-xs-12 text-center">
                        <h1>Generisanje izvještaja</h1>
                        <p>Kreirajte izvještaj stanja i uspjeha Vaših oglasa</p>
                        <hr class="h-divider" />
                    </div>

                    <div class="col-xs-12">
                      <div class="form-group text-center">
                          <button type="submit" class="btn btn-success" {{action 'generate-report'}}>Generiši izvještaj</button>
                      </div>
                    </div>
                </form>
                <!-- Delete Profile Form -->
                <form class="row distinct-page-form">
                    <div class="col-xs-12 text-center">
                        <h1>Brisanje korisničkog računa</h1>
                        <p>Da li zaista želite napustiti portal Posao.ba?</p>
                        <hr class="h-divider" />
                    </div>

                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="inputPassword3">Potvrdite brisanje računa lozinkom:</label>
                        {{input type="password" class="form-control" id="inputPassword3" placeholder="Password" value=password}}
                      </div>

                      <div class="form-group text-center">
                          <button type="submit" class="btn btn-danger" {{action 'delete'}}>Obriši račun</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>