<div class="viewadPage">

    <!-- Background Image -->
    <div class="img img-responsive pozadinaPregledOglasa cover-screen"></div>

    <div class="container">
        <div class="row ">
            <!-- Left side -->
            <div class="col-xs-12 col-sm-10 col-sm-offset-0 col-md-7 col-md-offset-0 distinct-page-form">
                <div class="col-xs-12 text-center">
                    <h1>Pregled oglasa</h1>
                    <h2>{{model.oglas.naziv}}</h2>
                    <hr class="h-divider" />
                </div>

                <div class="form-horizontal col-xs-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kategorija:</label>
                        <div class="col-sm-10 oglas-data">
                            <p>{{model.oglas.kategorije.naziv}}</p>
                        </div>
                    </div>     
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Opis oglasa:</label>
                        <div class="col-sm-10 oglas-data">
                            <p>{{model.oglas.opis}}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Otvoren:</label>
                        <div class="col-sm-10 oglas-data">

                         {{#if (eq model.oglas.zatvoren 0)}}
                            <p>Da</p>
                          {{#if (eq model.userid model.oglas.poslodavac.idKorisnika)}}
                            <div class="form-group text-center">
                                {{#if zatvaranjeSuccess}}<p>Uspješno ste zatvorili oglas!</p>{{/if}}
                                {{#if zatvaranjeError}}<p>Došlo je do greške prilikom.</p>{{/if}}
                                <button class="btn btn-default login-button" {{action 'zatvori'}}>Zatvori</button><br><br>
                            </div>
                          {{/if}}
                          
                        {{else}}
                            <p>Ne</p>
                        {{/if}}
                        </div>
                    </div>
                        {{#if prijavaSuccess}}<p>Uspješno ste prijavljeni na oglas!</p>{{/if}}
                        {{#if prijavaError}}<p>Došlo je do greške prilikom prijave.</p>{{/if}}
                        {{#if (eq model.imaprijava.bool false)}}
                        {{#if (eq model.oglas.zatvoren 0)}}
                        <button class="btn btn-default login-button" {{action 'prijava' model.oglas.idOglasa}}>Prijavi se</button><br><br>
                        {{/if}}
                        {{/if}}
                            
                    <div>
                        {{#each model.oglas.oglasPodaci as |podatak|}}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{podatak.staje}}:</label>
                            <div class="col-sm-10 oglas-data">
                                <p>{{podatak.vrijednost}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- Right side -->
            <div class="col-xs-12 col-sm-10 col-sm-offset-0 col-md-4 col-md-offset-1">
                <!-- Obnova oglasa -->
                {{#if (eq model.userid model.oglas.poslodavac.idKorisnika)}}
                <div class="distinct-page-form col-xs-12">
                  <div class="text-center">
                    <h1>Obnavljanje oglasa</h1>
                    <hr class="h-divider" />
                    <p>Odredite na koliko dana želite produžiti otvorenost oglasa. Obnavljanje se vrši u odnosu na današnji datum.</p>
                  </div>
                  <div class="form-group">
                      <label for="inputDateTime">Datum:</label><br>

                      {{#if datumError}}
                        <span class="greskaUnosa">Trebate unijeti datum!</span>
                      {{/if}}
                      {{#if reopenError}}
                        <span class="greskaUnosa">Došlo je do greške prilikom obnavljanja oglasa.</span>
                      {{/if}}
                      {{#if reopenSuccess}}
                        <span class="greskaUnosa">Uspješno obnovljen oglas!</span>
                      {{/if}}

                      <div class='input-group date' id='inputDateTime'>
                          {{input type='number' class="form-control" value=noviDatumIsteka}}
                          <span class="input-group-addon">
                              <i class="glyphicon glyphicon-calendar"></i>
                          </span>
                      </div>
                  </div>
                  <div class="form-group text-center">
                    <button type="button" class="btn btn-success" {{action 'reopen'}}>Obnovi</button>
                  </div>
                </div>
                {{else}}
                <div class="distinct-page-form col-xs-12">
                    <div class="col-xs-12 text-center">
                        <h1>Podaci o poslodavcu</h1>
                        <hr class="h-divider" />
                    </div>
                    <form class="form-horizontal col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Poslodavac:</label>
                            <div class="col-sm-9 oglas-data">
                                <p>{{model.oglas.poslodavac.nazivFirme}}</p>
                            </div>
                        </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Kontakt:</label>
                                <div class="col-sm-9 oglas-data">
                                    <p>{{model.oglas.poslodavac.telefon}}</p>
                            </div>
                        </div>
                    </form>
                </div>
                {{/if}}

                <!-- Brisanje oglasa -->
                {{#if (eq session.data.authenticated.role "ROLE_ADMIN")}}
                <div class="distinct-page-form col-xs-12">
                  <div class="text-center">
                    <h1>Brisanje oglasa</h1>
                    <hr class="h-divider" />
                  </div>
                  <div class="form-group text-center">
                    <button type="button" class="btn btn-danger" {{action 'delete'}}>Obriši</button>
                  </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>