<div class="viewadPage">
    <div class="viewad-form">
            <img class="logo-viewad" src="assets/images/logo.png" >
            <h3 class="viewad-izgled"> Pregled oglasa </h3>
    
    <div class="row">
        <div class="col-sm-12">
            <ul>
            {{#each model.oglas.oglasPodaci as |podatak|}}
                <li class="viewad-li">{{podatak.poljeTemplatea.nazivPolja}} : {{podatak.vrijednost}}</li>
                <br>
            {{/each}}
                <li class="viewad-li">Kategorija: {{model.oglas.kategorije.naziv}}</li>
                <br>
                <li class="viewad-li">Poslodavac: {{model.oglas.poslodavac.nazivFirme}}</li>
                <br>
                <li class="viewad-li">Kontakt info: {{model.oglas.poslodavac.telefon}}</li>
            </ul>
            <img class="template-viewad" src="assets/images/oglas.png" >

        </div>
    </div>
    </div>
</div>
